{% extends 'commathweb/base1.html' %}

{% block content %}

	<!-- contact200 -->
	<div class="container">
		<!-- <div class="wrap-contact200"> -->
			<button class="btn-hide-contact200">
				<i class="zmdi zmdi-close"></i>
			</button>

			<div>
				<h1>IEEE floating point double precision (64-bit)</h1>
			</div>

			<form action="#" method="GET" class="contact200-form validate-form">

				<div class="wrap-input100 validate-input">
					<!-- <input id="name" class="input300" type="text" name="num" placeholder="Full name" value="{{ num }}"> -->
					<input id="name" class="input100" type="number" placeholder="1.000" step="any" min="0" max="9999999" name="num" value="{{ x }}">
					<span class="focus-input100"></span>
					<label class="label-input100" for="name">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>

				<div class="wrap-input100 validate-input">
					<div class="jumbotron">
						<div class="row">
							<div class="col-md">
								ผลลัพธ์<hr><span class="col-md-3">{{ answer }}</span>							
							</div>
						</div>
					</div>
				</div>

				<!-- <div class="wrap-input100 validate-input">
					<input id="name" class="input200" type="text" name="name" placeholder="Full name">
					<span class="focus-input200"></span>
					<label class="label-input200" for="name">
						<span class="lnr lnr-user m-b-2"></span>
					</label>
				</div>


				<div class="wrap-input100 validate-input">
					<input id="email" class="input200" type="text" name="email" placeholder="Eg. example@email.com">
					<span class="focus-input200"></span>
					<label class="label-input200" for="email">
						<span class="lnr lnr-envelope m-b-5"></span>
					</label>
				</div>


				<div class="wrap-input100 validate-input">
					<input id="phone" class="input200" type="text" name="phone" placeholder="Eg. +1 800 000000">
					<span class="focus-input200"></span>
					<label class="label-input200" for="phone">
						<span class="lnr lnr-smartphone m-b-2"></span>
					</label>
				</div>


				<div class="wrap-input200 validate-input">
					<textarea id="message" class="input200" name="message" placeholder="Your comments..."></textarea>
					<span class="focus-input200"></span>
					<label class="label-input200 rs1" for="message">
						<span class="lnr lnr-bubble"></span>
					</label>
				</div> -->

				<div class="container-contact200-form-btn">
					<button class="contact200-form-btn">
						แปลง
					</button>
				</div> 
			</form>

		</div>
	</div> <!-- end contact200 -->

{% endblock %}	

